.title-academico{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #3C4858;
    font-size: xx-large;
    font-weight: 700;
    font-family: "Roboto Slab","Times New Roman",serif;
}

.academico{
    margin-top: 50px;
 }